/* Importando fuente desde Google */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*Barra de navegacion*/
body {
  --sb-track-color: hsla(247, 95%, 60%, 0.5);
  --sb-thumb-color: #00fffd;
  --sb-size: 4px;
  outline: 1px solid red;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.container {
  max-width: 96em;
  margin: 0 auto;
}

/* Seteando fuente en clase para ser utilizada */
.font-js {
  font-family: 'Josefin Sans', sans-serif;
}

.regular{
 font-style: normal;
}

.italic {
  font-style: italic;
}

.italic-semibold {
  font-style: italic;
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

.text-14{
 font-size: 0.875em;
}

.text-16{
 font-size: 1em;
}

.text-20{
 font-size: 1.25em;
}

.text-24{
 font-size: 1.5em;
}

.text-32{
 font-size: 2em;
}


.text-white {
  color: white;
}

.text-cyan {
  color: #7EE8FA;
}

.title-section {
  display: block;
  margin: 5em;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}


.title {
    color: white;
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
    display: block;
}

.title-container {
    display: flex;
    align-items: center;
}
.title-container img {
    flex-shrink: 0;
    width: 3.125em; /* Ajusta el tamaño según sea necesario */
    height: auto;
}
.title-container h2 {
    margin-left: 0.625em; /* Ajusta el espacio entre la imagen y el texto */
}

.title2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    display: block;
}

hr {
  flex-grow: 1; 
  border: none;
  border-top: 0.063em solid cyan; 
  margin-top: 1.25em;
}

.text-center {
    text-align: center;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.text-nowrap {
    white-space: nowrap;
}

.letter-spacing {
    letter-spacing: 0.25em;
}

.mt-1{
  margin-top: 0.625em;
}

.navbar {
  display: block;
  color: white;
  background-color: #003db61a;
  border-radius: 3.75em;
  border-bottom: 0.25em solid #4E37FA;
  margin-top: 1.25em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  /* vertical */
  align-items: center;
}

.pl-64 {
  padding-left: 4em;
}

.navbar-item {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 1em;
}

.navbar-item-center {
  display: inline-block;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  animation: flash;
  animation-duration: 1s;
}

.navbar-item-center:hover {
  color: #7EE8FA;
  text-shadow: 0 0 0.625em #7EE8FA, 0 0 1.25em #7EE8FA, 0 0 2.5em #7EE8FA, 0 0 5em #7EE8FA, 0 0 10em #7EE8FA;
  transform: scale(1.5);
}

.mobile-navbar-wrapper {
  display: none;
}

.w-full{
  width: 100%;
}

.w-4{
  width: 24em;
}

body {
    scroll-behavior: smooth;
    background-color: #010E29;
    background-image: url("assets/Fondos.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Filtro */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    outline: 1px solid green;
}


/* cada section ocupa el alto maximo tamaño de la pantalla */
.section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  margin-top: 1em;
}

.galaxia-via-lactea {
  /* Comienza en la columna 1 y en la fila 1 */
  grid-row-start: 2;
}

.galaxia-diseno-creatividad {
  /* Comienza en la columna 2 y en la fila 1 */
  grid-column-start: 2;
  grid-row-start: 1;
}

.galaxia-desarrollo-tecnologia {
  /* Comienza en la columna 3 y en la fila 1 */
  grid-column-start: 4;
  grid-row-start: 2;
}

.galaxia-organizacion-gestion {
  /* Comienza en la columna 4 y en la fila 1 */
  grid-column-start: 3;
  grid-row-start: 3;
}

.galaxia {
  width: 8.25em;
  height: 4.625em;
  transform: rotate(30deg);
  animation: scale-rotate-reverse 1s ease-in-out forwards;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.galaxia:hover {
  animation: scale-rotate 1s ease-in-out forwards;
  animation-play-state: running;
  animation-fill-mode: forwards;
}


.galaxia:not(:hover) {
  animation: scale-rotate-reverse 1s ease-in-out forwards;
}

.milky-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.submenu-category {
  display: inline-block;
  margin-top: 1.5em;
}

.submenu {
  border-left: 0.031em solid #7EE8FA;
  margin-left: 2em;
  margin-top: 1.5em;
}

.submenu li {
  margin: 0.5em 0;
}

.btn-viaje {
  background-color: #001847;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.063em solid transparent;
  display: block;
  margin: auto;
  transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  align-items: center;
  border: none;
}

.btn-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1.75em;
}

/* Pseudo elemento para aplicar estilos al botón */
.btn-viaje:hover, 
.btn-viaje:active, 
.btn-viaje:focus {
  background-color: #001e5b;
  border-bottom-color: #4E37FA; /* Cambia el color del borde inferior en el estado hover */
  box-shadow: 0 0.25em 0 #4E37FA;
}

.icon-nave {
  animation: float 2s infinite ease-in-out;
  height: 1em;
  margin-left: 0.5em;
}

.obteniendo-mensaje-container {
  margin: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12.5em;
}

.obteniendo-mensaje{
 font-family: 'Josefin Sans', sans-serif;
 font-style: italic;
 text-align: center;
 color: white;
 font-size: 1.25em;
 padding-inline: 12.25em;
}

/* Animaciones */
@keyframes scale-rotate {
  0% {
    transform: scale(1) rotate(30deg);
  }
  100% {
    transform: scale(7) rotate(0deg);
  }
}

@keyframes scale-rotate-reverse {
  0% {
    transform: scale(7) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(30deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-me-title-container {
  display: flex;
  align-items: flex-end; /* Alinea los elementos al final del contenedor */
  margin-top: 3em;
}

.about-me-title-container h3 {
  margin: 0; /* Elimina cualquier margen predeterminado */
}

.about-me-title-container hr {
  flex-grow: 1; /* Permite que el <hr> ocupe el espacio restante */
  margin-left: 1em; /* Ajusta el espacio entre el texto y el <hr> */
  border: none; /* Elimina el borde predeterminado */
  border-bottom: 0.063em solid cyan; /* Agrega un borde inferior */
}

.about-me-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
}

.about-content {
  padding: 1em 2em;
  display: inline-block;
}

.about-me-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-me-photo {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description {
  border-left: 0.063em solid #7EE8FA;
  padding-left: 1.5em;
}

.about-description p {
  margin-left: 1.25em;
}

.about-description h3 {
  margin-bottom: 1.5em;
}

.planeta-container {
  display: inline-block;
  position: relative;
  margin: 12.5em 0;
}

.planeta-texto {
  position: absolute;
  top: -30%;
  left: 33%;
}

.planeta-tierra {
  margin-top: 2.25em;
}

.h-64 {
  height: 25em;
}

.rubros-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.icons-container{
  background: rgba(0, 14, 42, 0.5);
  box-shadow: 0em 0.25em 0.25em #4E37FA;
  backdrop-filter: blur(0.125em);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2.875em;
  padding-top: 4em;
  padding-bottom: 4em;
  height: 18.75em;
  height: 18em;
  width: 16em;
  max-width: 16em;
}

.icons-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contactoyredes-containter{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.contactoyredes-containter > div {
  flex: 1;
  margin: 0 10px; /* Ajusta el margen según sea necesario */
}

.text-light:hover{
  text-decoration-line: underline;
  color: #7EE8FA;
  text-shadow: 0px 6px 6px #4E37FA;
  transform: scale(1.1);
  filter: drop-shadow(0em 0.25em 0.25em #4E37FA);
  border-radius: 0.375em;
}

.social-icons-container li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mail{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25em;
  flex-wrap: nowrap;
  flex-direction: row;
}

.form-container{
  display: block;
  background: rgba(0, 14, 42, 0.5);
  box-shadow: 0em 0.25em 0.25em #4E37FA;
  backdrop-filter: blur(0.125em);
  border-radius: 2.875em;
  padding: 4em;
  width: 30em;
}

.input-container{
  padding: 0.75em 1em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: #4E37FA;
  border: 0.063em solid #F5F5F5;
  border-radius: 3.625em;
  color: white;
}

.send-btn{
  box-sizing: border-box;

  /* Auto layout */
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0.75em 4em;
  gap: 0.5em;

  /* width: 31.875em; */
  height: 2.5em;

  background: #4E37FA;
  border: 0.063em solid #F5F5F5;
  border-radius: 3.625em;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0 auto;
}

.selector{
  border-radius: 0.75em;

  background: #4E37FA;
  border: 0.063em solid #F5F5F5;
  border-radius: 3.625em;
  display: block;
  margin: auto;
  width: 100%;
  padding: 0.75em 1.25em;
}

/* CLASES DE GALAXIA MIKY*/
.milky-contenedor {
  position: relative;
  width: 100%;
}

.milky-contenedor img {
  width: 100%;
}

.texto-constelacion {
  border-top: 0.063em solid #7EE8FA;
  border-right: 0.063em solid #7EE8FA;
  padding-top: 0.75em;
  padding-right: 1em;
  text-align: right;
  border-radius: 0 1.5em 0 0;
  display: block;
  height: 5em;
  width: 18.75em;
}

.texto-planetas{
  border-top: 0.063em solid #7EE8FA;
  border-left: 0.063em solid #7EE8FA;
  padding-top: 0.75em;
  padding-left: 1em;
  text-align: left;
  border-radius: 1.5em 0 0 0;
  display: block;
  height: 18.75em;
  width: 18.75em;
}

.galaxia-texto{
  position: absolute;
  top: 0;
  left: 10%;
}

.sistema-texto{
  position: absolute;
  top: 10%;
  right: 10%;
}


.separator {
  border-top: 0.063em solid #7EE8FA;
  margin-top: 4em;
  margin-bottom: 4em;
}

/* clases SOBRE MI*/

.lineatexto-tierra{
  border-top: 0.063em solid #7EE8FA;
  border-left: 0.063em solid #7EE8FA;
  padding-top: 0.75em;
  padding-left: 1em;
  text-align: left;
  display: block;
  height: 5.625em;
  width: 15.313em;
  border-radius: 1.5em 0 0 0;
}

/*PLANETAS REDES*/
.orbitas-padre{
  position: relative;
  margin-top: 7.5em;
  margin-bottom: 7.5em;
}

.orbitas-punteadas {
  width: 100%;
  max-width: 100%;
}

.orbitascel{
  display: none;
}

.warframeproyect{
  position: absolute;
  top: 0;
  left: 10%;
  animation: rotateIn;
  animation-duration: 12s;
}

.galaxygamesproyect{
  position: absolute;
  top: 10%;
  right: 20%;
  animation: rotateIn;
  animation-duration: 12s;
}

.caffetoproyect{
  position: absolute;
  top: 50%;
  left: 12%;
  animation: rotateIn;
  animation-duration: 12s;
}

#contactame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}


/*CLASES IMAGENES REDES*/
.imagenes{
  display: block;
  width: 37.5em;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  border: 0.125em solid #7EE8FA;
  box-shadow: 0em 0.25em 0.25em #4E37FA;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: rgba(0, 14, 42, 0.5);
  box-shadow: 0em 0.25em 0.25em #4E37FA;
  backdrop-filter: blur(0.125em);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2.875em;
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 6em 0 2.25em 0;
}

.footer-descripcion {
  width: 18.75em;
}

.footer-list-links{
  list-style-type: none;
}

.footer-list-icons{
  list-style-type: none;
}

.footer-list-links li a {
  text-decoration: none;
}

.footer-links-container{
  display: flex;
  flex-direction: row;
}

.footer-list-icons {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

/*RESOLUCION CELULAR (IPHONE SE)*/
@media (min-width: 375px) and (max-width: 667px) {
  /*Menu*/
  .navbar {
    display: none;
  }

  .mobile-navbar-wrapper{
    padding-inline: 2em;
    display: block;
  }

  .mobile-navbar-container {
    background: rgba(0, 14, 42, 0.5);
    box-shadow: 0px 10px 9.4px rgba(78, 55, 250, 0.25);
    box-sizing: border-box;
    border-radius: 2em;

    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .mobile-navbar-menu{
    display: flex;
    align-items: center;
  }

  .mobile-navbar-menu span {
    margin: 0 auto;
  }

  .menu-display {
    display: none;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
  
  .menu-display ul {
    list-style: none;
  }

  .menu-display ul a {
    text-decoration: none;
    color: white;
  }

  .mobile-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /* .mobile-nav-item:hover svg {
    fill: green;
  }

  .mobile-nav-item:not(:hover) svg {
    fill: white;
  } */

  .mobile-nav-item svg {
    height: 1.8em;
    width: 1.8em;
    fill: white;
  }

  .mobile-nav-item span {
    margin-left: 1em;
  }

  /*grilla de galaxias*/
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1em;
    align-items: center;
    margin-bottom: 4em;
  }

  .grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .galaxia-via-lactea {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .galaxia-diseno-creatividad {
    grid-column-start: 2;
    grid-row-start: 1;
  }
    .galaxia-desarrollo-tecnologia {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .galaxia-organizacion-gestion {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .galaxia:hover{
    animation: unset;
  }
  .galaxia:not(:hover){
    animation: unset;
  }

  .submenu-category {
    display: inline-block;
    /* margin-top: 1.5em; */
    text-align: center;
  }

  /*Titulos de bienvenida a la pagina*/
  .title-section {
    margin: unset;
    margin-bottom: 5%;
  }

  .title {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    display: block;
  }

  .title2{
    font-size: 1.5em;
  }

  /* boton comenzar viaje*/
  .btn-viaje{
    padding-left: .9em;
    padding-right: .9em;
  }
  
  /* Obteniendo mensajes*/
  .obteniendo-mensaje{
    font-size: 0.9em;
    padding-inline: 0;
  }

  .obteniendo-mensaje-container {
    margin: auto;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;
    padding-inline: 1em;
  }

  /*Galaxia via lactea*/
  .milky-contenedor {
    position: relative;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .milky-contenedor img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* .galaxia-texto {
    position: absolute;
    top: -50%;
    left: 10%;
  } */
  .galaxia-texto {
    top: -50%;
    left: 10%;
    font-size: .7em;
  }

  .sistema-texto {
    position: absolute;
    top: -10%;
    right: 5%;
    font-size: .7em;
  }

  .texto-constelacion {
    border-top: 0.063em solid #7EE8FA;
    border-right: 0.063em solid #7EE8FA;
    padding-top: 0.75em;
    padding-right: 1em;
    text-align: right;
    border-radius: 0 1.5em 0 0;
    display: block;
    height: 3em;
    width: 12em;
  }

  .texto-planetas {
    border-top: 0.063em solid #7EE8FA;
    border-left: 0.063em solid #7EE8FA;
    padding-top: 0.75em;
    padding-left: 1.2em;
    text-align: left;
    border-radius: 1.5em 0 0 0;
    display: block;
    height: 9em;
    width: 6em;
  }

  /*Sobre mi*/

  .about-me-title-container hr {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1.5em;
    border: none;
    border-bottom: 0.063em solid cyan;
  }

  .sobremititulo{
    padding-left: 0.8em;
  }

  .pl-64 {
    padding-left: 0;
  }

  .planeta-texto {
    position: absolute;
    top: -50%;
    left: 6%;
    }

  .planeta-tierra {
    margin-top: unset;
    /* animation: earth-rotate 360s linear infinite; */
    padding-inline: 1em;
  }

  .planeta-tierra img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .planeta-container {
    display: inline-block;
    position: relative;
    margin: 12em 0;
    margin-bottom: 5em;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-description {
    display: flex;
    flex-direction: column;
  }



  @keyframes earth-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*Rubros explorados*/

  .rubros-container{
    flex-direction: column;
  }

  .w-full {
    width: 100%;
  }
  .rubrosexptitulo{
    padding-left: 0.8em;
  }
  .titulosrubros{
    padding-left: 1.5em;
  }

  .title2 {
    font-size: 1.8em;
  }

  .text-32 {
    font-size: 1.5em;
  }

  .text-24 {
    font-size: 1.2em;
  }

  .text-16 {
    font-size: .9em;
  }

  .about-me-container {
    justify-items: center;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h-64 {
    height: 15em;
  }

  .icons-container {
    background: rgba(0, 14, 42, 0.5);
    box-shadow: 0em 0.25em 0.25em #4E37FA;
    backdrop-filter: blur(0.125em);
    border-radius: 2.875em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 18.75em;
    height: 18em;
    width: 16em;
    max-width: 16em;
  }

  .orbitas-punteadas {
    display: none;
  }

  .orbitascel{
    display: block;
    width: 100%;
  }

  .warframeproyect {
    width: 40%;
    top: 20%;
    left: 5%;
  }

  .galaxygamesproyect {
    width: 20%;
    top: 0%;
    right: 5%;
  }

  .caffetoproyect {
    width: 20%;
    top: 60%;
    left: 60%;
  }

  /*Registros estelares*/
  .separator {
    border-top: 0.063em solid #7EE8FA;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  #blog{
    padding-left: 5%;
    padding-right: 5%;
  }

  /*Redes intergalacticas*/
  .text-20 {
    font-size: 1em;
  }
  .social-icons-container{
    padding-bottom: 20%;
  }
    .imagenes{
    max-width: min-content;
  }

  .pl-64{
    padding-left: 1em;
    padding-right: 1em;
  }

  .contactoyredes-containter {
    flex-direction: column;
  }



  /*footer*/
  .footer{
    flex-direction: column;
  }
  
  .footer-links-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-list-icons{
    display: flex;
    flex-direction: row;
  }

  .footer-descripcion {
    width: 18.75em; 
    padding-left: 2.5em;
  }
} 


/*RESOLUCION TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .navbar {
    color: white;
    background-color: #003db61a;
    padding: 1.25em 3em;
    border-radius: 3.75em;
    border-bottom: 0.25em solid #4E37FA;
    /* width: 100%; */
  }

  .navbar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .title {
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
    display: block;
  }

  .title-section {
    display: block;
    margin: 3.5em;
  }

  .text-14 /*18px*/ { 
    font-size: 1.125em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1em;
    align-items: center;
  }

  .galaxia-via-lactea {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .galaxia-diseno-creatividad {
    grid-column-start: 2;
    grid-row-start: 1;
  }
    .galaxia-desarrollo-tecnologia {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .galaxia-organizacion-gestion {
    grid-column-start: 1;
    grid-row-start: 3;
  }



  .obteniendo-mensaje {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 1.25em;
    padding-inline: 2em;
  }

  .obteniendo-mensaje-container {
    text-align: left;
    margin-top: 6em;
    margin-bottom: 6em;
  }

  /*GALAXIA VIA LACTEA CLASES*/
  .milky-contenedor {
    position: relative;
    width: 100%;
    margin-top: 10em;
    /*margin-bottom: 10em;*/
    padding-top: 50%;
    padding-bottom: 50%;
  }

  .galaxia-texto {
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .sistema-texto {
    position: absolute;
    top: 30%;
    right: 0%;
  }

  .texto-constelacion {
    border-top: 0.063em solid #7EE8FA;
    border-right: 0.063em solid #7EE8FA;
    padding-top: 0.75em;
    padding-right: 1em;
    text-align: right;
    border-radius: 0 1.5em 0 0;
    display: block;
    height: 15em;
    width: 12em;
  }

  .texto-planetas {
    border-top: 0.063em solid #7EE8FA;
    border-left: 0.063em solid #7EE8FA;
    /*border-bottom: 0.063em solid #7EE8FA;*/
    /*border-right: 0.063em solid #7EE8FA;*/
    padding-top: 0.75em;
    padding-right: 0.75em;
    text-align: left;
    border-radius: 1.5em 0 0 0;
    display: block;
    height: 11em;
    width: 14em;
  }

  /*SOBRE MI CLASES*/

  .planeta-texto {
    position: absolute;
    top: -32%;
    left: 40%;
  }

  .about-me-container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: flex-start;
    justify-content: center; */
    display: inline-flex;
    flex-direction: column;
  }

  .about-content {
    padding: 0;
    display: inline-block;
  }

  .about-me-description{
    grid-template-rows: auto;
  }

  /*RUBROS EXPLORADOS CLASES*/
  .rubros-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 auto;
  }

  .diseno-cretividad{
    display: none;
  }

  .h-64 {
    height: 12.5em;
  }

  .icons-container {
    background: rgba(0, 14, 42, 0.5);
    box-shadow: 0em 0.25em 0.25em #4E37FA;
    backdrop-filter: blur(0.125em);
    border-radius: 2.875em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 18em;
    width: 16em;
    max-width: 16em;
  }

  .icons-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .orbitascel{
    display: none;
  }

  .warframeproyect {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 40%;
    animation: rotateIn;
    animation-duration: 12s;
  }

  .galaxygamesproyect {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 35%;
    animation: rotateIn;
    animation-duration: 12s;
  }

  .caffetoproyect {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 30%;
    animation: rotateIn;
    animation-duration: 12s;
  }

  /*CONTACTO CLASES*/
  .contactoyredes-containter{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125em;
  }
  #contactame {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
  }

  .flex-col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


/*RESOLUCIÓN ESTANDAR LAPTOP*/
@media (min-width: 768px) and (max-width: 1366px) {
  .container{
    padding: 0 2rem;
  }
  .about-me-container {
    justify-items: center;
  }
  .flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .navbar {
    display: block;
    color: white;
    background-color: #003db61a;
    border-radius: 3.75em;
    border-bottom: 0.25em solid #4E37FA;
    margin-top: 1.25em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .title-section {
    display: block;
    margin: 2em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    margin-top: 0.02em;
  }

    .orbitascel{
    display: none;
  }
}
